extends ../layout

block content
  .row.login-box
    form(method='POST', class="form-signin mg-btm")
      input(type='hidden', name='_csrf', value=_csrf)
      h3.heading-desc
        | Login
      .social-box
        .row.mg-btm
          .col-md-12
            a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
              i.fa.fa-google-plus
                | Sign in with Google
        .row.mg-btm
          .col-md-12
            a.btn.btn-block.btn-github.btn-social(href='/auth/github')
              i.fa.fa-github
                | Sign in with GitHub
      .main
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
        input.form-control(type='password', name='password', id='password', placeholder='Password')
        a.btn.btn-link(href='/forgot') Forgot your password?
        span.clearfix
      .login-footer
        .row
          .col-xs-6.col-md-6
            .left-section
              a.btn.btn-link(href='/signup') Sign up now
          .col-xs-6.col-md-6.pull-right
            button.btn.btn-primary.pull-right(type='submit')
              span Login









