h1 #{title}
p.lead #{slogan}
hr
.row
	.col-sm-12
		h2 What is Codezz?
		p Proin a venenatis risus. Nulla hendrerit quam ac lorem accumsan rhoncus. Maecenas lacinia ullamcorper turpis et fringilla. Vivamus vulputate venenatis risus eu suscipit. Fusce lobortis tempus magna, quis facilisis odio facilisis et. Donec ut urna ut sem suscipit varius et eu elit.