h1 #{title}
p.lead #{slogan}
.row
	.col-sm-12
		p We are glad to present you Codezz, a platform for beginners programmers that allow learn and gain the basic knowledge required to start programming in HTML5, CSS3, PHP, XML, JSON and many more.
hr
.row
	.col-sm-12
		h2 What is Codezz?
		p Codezz is an interactive platform that helps those who are new to the world of programming, where through a system Drag & Drop you learn the basic structure and organization of basic programming languages.
		| Browse through the different levels of learning, solving puzzles correctly and collect unique achievements!