extends layout

block content
  .titulos
    h1 Select a Course
    p Welcome to new way to learn code more fun!! :)
  hr
  .row
    for course in courses
      .col-xs-12.col-sm-6.col-md-6.col-lg-6.course-view
        .box
          .box-icon
            span(class="fa fa-4x fa-"+course.url)
          .info
            h4 #{course.name}
            p #{course.description}
            a.btn.btn-info.btn-lg(href="/course/"+course.url, role='button') Go level Up!
