extends layout

block content
  h1 Select a Game
  p Welcome to new way to learn code more fun!! :)
  hr
  .container
  .row
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      .box
        .box-icon
          span.fa.fa-4x.fa-html5
        .info
          h4 Learn Programming
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          a.btn.btn-default(href='#', role='button') Go level
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      .box
        .box-icon
          span.fa.fa-4x.fa-html5
        .info
          h4 Learn Programming
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          a.btn.btn-default(href='#', role='button') Go level