extends layout

block content
  h1 Codezz
  p.lead Platform for beginners programmers
  hr
  .row
    .col-sm-12
      h2 What is Codezz?
      p Proin a venenatis risus. Nulla hendrerit quam ac lorem accumsan rhoncus. Maecenas lacinia ullamcorper turpis et fringilla. Vivamus vulputate venenatis risus eu suscipit. Fusce lobortis tempus magna, quis facilisis odio facilisis et. Donec ut urna ut sem suscipit varius et eu elit.
  .row.home-person
    .col-sm-4
      .box
        .box-icon
          span.fa.fa-4x
            img(src='http://kableapp.com/images/foto_oliver-130x130.png', class='avatar')
        .info
          h3 Oliver Montes
          p.proff Web Designer
          p Con esta plataforma he podido programarla!
    .col-sm-4
      .box
        .box-icon
          span.fa.fa-4x
            img(src='http://kableapp.com/images/foto_adrian-130x130.png', class='avatar')
        .info
          h3 Adrian Olcina
          p.proff Web Developer
          p Con esta plataforma he podido programarla!
    .col-sm-4
      .box
        .box-icon
          span.fa.fa-4x
            img(src='http://kableapp.com/images/foto_marc-130x130.png', class='avatar')
        .info
          h3 Marc Bernabeu
          p.proff Backend Developer
          p Con esta plataforma he podido programarla!
block cources
  .row  
    .col-sm-4
      h3 Basic programming
      p Con esta plataforma he podido programarla!
    .col-sm-4
      h3 HTML5
      p Con esta plataforma he podido programarla!
    .col-sm-4
      h3 CSS3
      p Con esta plataforma he podido programarla!