extends layout

block content
  .row.home-person
    h3.titulos.home-students
      i.fa.fa-graduation-cap 
      | Students that have used our platform 
      i.fa.fa-graduation-cap
    .col-sm-4
      .box
        .box-icon
          span.fa.fa-4x
            img(src='/img/foto_oliver-130x130.png', class='avatar')
        .info
          h3 Oliver Montes
          p.proff Web Designer
          p Thanks to this teaching platform I can give a better design to my web pages.
    .col-sm-4
      .box
        .box-icon
          span.fa.fa-4x
            img(src='/img/foto_adrian-130x130.png', class='avatar')
        .info
          h3 Adrián Olcina
          p.proff Web Developer
          p Great! The HTML5 teaching has helped me to create my first website.
    .col-sm-4
      .box
        .box-icon
          span.fa.fa-4x
            img(src='/img/foto_marc-130x130.png', class='avatar')
        .info
          h3 Marc Bernabeu
          p.proff Backend Developer
          p Thank you. With that JSON course there is not API that resists me.
block cources
  h3.titulos.home
    i.fa.fa-lightbulb-o 
    | Top 3 Courses 
    i.fa.fa-lightbulb-o 
  .row
    .col-sm-4
      .panel.panel-success
        .panel-heading
          h4.text-center Basic Code
        .panel-body.text-center
          p Are you a beginner programmer and wants to learn the basic knowledge? This is your course.
        ul.list-group.list-group-flush.text-center
          li.list-group-item
            i.icon-ok.text-danger
            | Level 1
          li.list-group-item
            i.icon-ok.text-danger
            | Level 2
          li.list-group-item
            i.icon-ok.text-danger
            | Level 3
        .panel-footer
          a(class="btn btn-lg btn-block btn-success", href="/course/basic-code")
            | Play level!
    .col-sm-4
      .panel.panel-success
        .panel-heading
          h4.text-center HTML5
        .panel-body.text-center
          p Learn the structure of a web page. Create your own website from the beginning.
          
        ul.list-group.list-group-flush.text-center
          li.list-group-item
            i.icon-ok.text-danger
            | Level 1
          li.list-group-item
            i.icon-ok.text-danger
            | Level 2
          li.list-group-item
            i.icon-ok.text-danger
            | Level 3
        .panel-footer
          a(class="btn btn-lg btn-block btn-success", href="/course/html5")
            | Play level!
    .col-sm-4
      .panel.panel-success
        .panel-heading
          h4.text-center JSON
        .panel-body.text-center
          p Do you want to create JSON objects to transfer data to APIs, backend or frontend? Check this course and create your own JSON object.
        ul.list-group.list-group-flush.text-center
          li.list-group-item
            i.icon-ok.text-danger
            | Level 1
          li.list-group-item
            i.icon-ok.text-danger
            | Level 2
          li.list-group-item
            i.icon-ok.text-danger
            | Level 3
        .panel-footer
          a(class="btn btn-lg btn-block btn-success", href="/course/json")
            | Play level!



















