doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - #{slogan}
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    != css('main')
  body
    include partials/navbar

    if site == "Home"
        .header
            .container
                include partials/header

    .principal
      .container
        include partials/flash
        block content

    if site == "Home"
        .cources
          .container
            block cources
    
    include partials/footer

    script(src='/socket.io/socket.io.js')
    != js('application')