@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap-social/bootstrap-social";
@import "lib/font-awesome/font-awesome";
@import "lib/ionicons/ionicons";
@import "lib/sweet-alert";
@import "themes/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  font-family: 'Montserrat', sans-serif;
  background: #fff2f1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Montserrat', sans-serif;
}

// Navbar
// -------------------------

.navbar {
  margin-bottom: 0px;
}

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^="ion-"] {
  margin-right: 5px;
}

// Home
.home-person .box{
  background-color: #fff;
  text-align: center;
}
.home-person .info > p {
  text-align: center;
}
.home-person .proff {
  color: #67BF95;
}

.principal {
  padding: 20px 0px 20px 0px;
  background: #fff2f1;
}

.cources {
  background-color: #E56452;
  color: #000;
  padding: 20px 0px 20px 0px;
}

.cources .panel-body {
  height: 100px;
}

.header {
  background-color: #3498db;
  color: #FFFFFF;
  padding: 20px 0px 20px 0px;
  text-align: center;
}



// Curses

.principal .course-view {
  min-height: 300px;
}

.titulos {
  text-align: center;
}

.titulos.home-students {
  color: #e74c3c;
  font-size: 2.5em;
}

.titulos.home {
  font-size: 3em;
  color: #FFFFFF;
}

.box {
    border-radius: 3px;
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    background-color: #FFFFFF;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
  background-color: #03a9f4;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #000;
  transition: all 0.5s ease 0s;
  margin-top: 10%;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.course-view .info {
  min-height: 200px;
  text-align: center;
}

.fa-php {
  content: "\f121";
}.fa-php:before {
  content: "\f121";
}

.fa-basic-code {
  content: "\f121";
}.fa-basic-code:before {
  content: "\f121";
}

.fa-xml {
content: "\f1c9";
}.fa-xml:before {
content: "\f1c9";
}

.fa-json {
content: "\f09b";
}.fa-json:before {
content: "\f09b";
}

.home-person .box-icon {
  background-color: #FFFFFF;
}

.course-single .box-icon {
  background-color: #3498db;
}

// Level

.level-intro {
  background-color: #F7F7F7;
  padding: 30px;
  margin: 30px 0px 30px 0px;
}

.code-main {
  background-color: #F7F7F7;
  padding: 30px;
  margin-bottom: 30px;
  min-height: 300px;
}

.code-main ul {
  min-height: 50px;
  background-color: #bdc3c7;
  list-style-type: decimal-leading-zero;
}

.code-main .ui-sortable {
  background-color: #2B2B2B;
}

.code-sidebar {
  background-color: #f1c40f;
  padding: 30px;
  margin-bottom: 30px;
  min-height: 300px;
}

.code-sidebar ul {
  list-style-type: decimal-leading-zero;
  min-height: 50px;
  background-color: #FFFFFF;
}

.code-sidebar .bg-info {
  padding: 10px;
  border-radius: 10px;
}

.code-sidebar .ui-sortable {
  background-color: #2B2B2B;
}

.code-run #validate {
  width: 100%;
  height: 100px;
  font-size: 3em;
}

.console-log {
  background-color: #2c3e50;
  padding: 10px 20px;
  height: 100px;
  color: #2ecc71;
  overflow: hidden;
  overflow-y: scroll;
}

#sortable-main li,
#sortable-extra li {
  cursor: move;
  background-color: #2c3e50;
  padding: 9px 0px 1px 15px;
  color: #FFF;
  margin: 1px;
}


// Login

.form-signin {
  max-width: 400px;
  margin: 0 auto;
  display:block;
  background-color: #FFFFFF;
  border-radius:2px;
  border: 1px solid #ccc;
}
.main{
  padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 10px 30px 0px 30px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
  height: 40px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
  padding-left: 10px;
  padding-top: 4px;
}
.heading-desc{
  font-size:20px;
  font-weight:bold;
  padding:38px 38px 0px 38px;
  
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"],
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
  background:#f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding:20px;
}
.login-footer .left-section a{
  font-weight:bold;
  color:#8a8a8a;
  line-height:19px;
}
.mg-btm{
  margin-bottom:20px;
}

textarea.form-control {
  height: auto !important;
}

// User Account

.user-account {
  background-color: #FFF;
  padding: 20px;
  border: 1px solid #ccc;
}

// User Cource level page

.page-level {
  background-color: #FFF;
  padding: 30px;
  border: 1px solid #ccc;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}





